<link href="/css/regis_Login.css" rel="stylesheet" type="text/css">
<!-- Page to add review and show my review -->
<div class="d-flex justify-content-around pt-4" style="min-height:55vh;padding-bottom: 15.7vh;">

    <h1> Home /  RoleBased Authentication </h1>
    <h1>
        
    </h1>
</div>