<link href="/css/regis_Login.css" rel="stylesheet" type="text/css">

<!-- for logIn the existing account -->

<div class="w-50 my-5 pb-5 mx-auto" style="padding-top: 10px;">
    <form class="w-75 mx-auto rounded-3 border bg-white p-5" action="/user/create-session" method="POST">
        <h2 class="text-bold text-center">Log In</h2>
        <div>
            
            <input type="email" name="email" class="form-control my-4" placeholder="Email">
            <input type="password" name="password" class="form-control my-4" placeholder="password">
            <button type="submit" class="btn btn-primary rounded-pill w-75 mx-5">Log In</button>
        </div>

        <p class="form-text text-center mt-3">Don't have an account ? <a href="/user/register" style="text-decoration:  none">Register</a></p>
    </form>	

</div>