<link href="/css/regis_Login.css" rel="stylesheet" type="text/css">
<!-- For Signup the new user -->
<div class="w-50 my-5 mx-auto">
    <form class="w-75 mx-auto rounded-3 border bg-white px-5 pb-3" style="padding-top: 14px;" action="/user/create" method="POST">
        <h2 class="text-bold text-center">Register</h2>
        <div>
            <input type="text" name="name" class="form-control my-4" placeholder="Full name">
            <input type="email" name="email" class="form-control my-4" placeholder="Email">
            <input type="password" name="password" class="form-control my-4" placeholder="password">
            <input type="password" name="confirm_password" class="form-control my-4" placeholder="confirm password">
            <button type="submit" class="btn btn-primary rounded-pill w-75 mx-5 text-white">Register</button>
        </div>

        <p class="form-text text-center mt-3">Have an account ? <a href="/user/login" style="text-decoration:  none">LogIn</a></p>
    </form>	
</div>